<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu Name="客户" Icon="icon_menu_sys">
    <SecondMenu Name="客户管理">
      <ThirdMenu Name="客户列表" Url="~/Test/material/Index" Permission="" />
      <ThirdMenu Name="额度管理" Url="~/Test/material/Index" Permission="" />
      <ThirdMenu Name="充值管理" Url="~/Test/material/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="产品" Icon="icon_menu_sys">
    <SecondMenu Name="产品管理">
      <ThirdMenu Name="产品管理" Url="~/Test/material/Index" Permission="" />
      <ThirdMenu Name="产品仓库属性" Url="~/Test/material/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="入库" Icon="icon_menu_sys">
    <SecondMenu Name="入库管理">
      <ThirdMenu Name="收货管理" Url="~/Test/material/Index" Permission="" />
      <ThirdMenu Name="收货" Url="~/Test/material/Index" Permission="" />
      <ThirdMenu Name="上架管理" Url="~/Test/material/Index" Permission="" />
      <ThirdMenu Name="上架" Url="~/Test/material/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="出库" Icon="icon_menu_sys">
    <SecondMenu Name="出库管理">
      <ThirdMenu Name="下架" Url="~/Test/material/Index" Permission="" />
      <ThirdMenu Name="拣货" Url="~/Test/material/Index" Permission="" />
      <ThirdMenu Name="打单" Url="~/Test/material/Index" Permission="" />
      <ThirdMenu Name="问题件" Url="~/Test/material/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="FBA" Icon="icon_menu_sys">
    <SecondMenu Name="FBA订单">
      <ThirdMenu Name="拣货列表" Url="~/Base_SysManage/Base_User/Index" Permission="sysuser.search" />
      <ThirdMenu Name="FBA仓库地址" Url="~/Base_SysManage/Base_SysRole/Index" Permission="sysrole.search" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="系统" Icon="icon_menu_sys">
    <SecondMenu Name="系统管理">
      <ThirdMenu Name="用户管理" Url="~/Base_SysManage/Base_User/Index" Permission="sysuser.search" />
      <ThirdMenu Name="角色管理" Url="~/Base_SysManage/Base_SysRole/Index" Permission="sysrole.search" />
      <ThirdMenu Name="接口密钥管理" Url="~/Base_SysManage/Base_AppSecret/Index" Permission="appsecret.search" />
      <ThirdMenu Name="系统日志" Url="~/Base_SysManage/Base_SysLog/Index" Permission="sysLog.search" />
      <ThirdMenu Name="多语言管理" Url="~/warehouse/wms_languages/Index" Permission="sysuser.search" />
    </SecondMenu>
  </FirstMenu>
  <!--<FirstMenu Name="项目" Icon="icon_menu_sys">
    <SecondMenu Name="项目管理">
      <ThirdMenu Name="项目管理" Url="~/Test/material/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>-->
</SysMenu>